footer.footer.is-hidden-mobile
  .container
    .columns.is-multiline
      .column.is-12-mobile.is-6-tablet.is-3-desktop
        h3.h3.footer__title О компании
        .footer__menu
          ul
            li
              a(href="#") Оснащенность лаборатории
            li
              a(href="#") Услуги подрядчикам
            li
              a(href="#") Пригласить на тендер
        p.footer__text
          span ООО «Эколоджис» 
          span ИНН: 7728323546
          span ОГРН: 5157746116369
      .column.is-12-mobile.is-6-tablet.is-3-desktop
        h3.h3.footer__title Связаться с нами
        a(href="tel:+7999999999").footer__phone +7 (499) 490-44-67
        p.footer__text.footer__text_margin-bottom-30 с 9:00 до 20:00, ежедневно
        p.footer__text.footer__text_margin-bottom-10 E-mail (круглосуточно):
        a(href="mailto:info@vodalab.ru").footer__mail info@vodalab.ru
        a(href="#").button.button_white.mb40.is-small Заказать анализ
      .column.is-12-mobile.is-6-tablet.is-3-desktop
        h3.h3.footer__title Источники для анализа
        .footer__menu
          ul
            li
              a(href="#") Подземные скважины
            li
              a(href="#") Водопровод
            li
              a(href="#") Колодец
            li
              a(href="#") Сточные воды
            li
              a(href="#") Родниковые воды
            li
              a(href="#") Бутилированная вода
      .column.is-12-mobile.is-6-tablet.is-3-desktop
        h3.h3.footer__title Источники для анализа
        .footer__menu
          ul
            li
              a(href="#") Кремний в воде
            li
              a(href="#") Щелочность воды
            li
              a(href="#") Органические загрязнители воды
            li
              a(href="#") Фториды в воде
            li
              a(href="#") Жесткость воды
    .footer__bottom
      .columns.is-multiline
        .column.is-12-touch.is-6-desktop
          p.copyright © 2018 Vodalab. Независимый Испытательный Центр. Все права защищиены.
        .column.is-12-touch.is-6-desktop
          a(href="#").footer__link Соглашение о персональных данных
footer.footer-mobile.is-hidden-tablet
  .links
    ul
      li
        a(href="#")
          img(src="./img/phone.svg", alt="")
      li
        a(href="#")
          img(src="./img/calculator.svg", alt="")
  .cta
    a(href="#") Заказать анализ







