extends ./layouts/_main-layout_new-header

block title 
	title Бурение | Новый хедер

block content
	include ./sections/_banner
	include ./sections/_garanties
	include ./sections/_team
	include ./sections/_stages
	include ./sections/_advantages
	include ./sections/_calculator
	include ./sections/_map
	include ./sections/_features
	include ./sections/_request
	include ./sections/_services
	