extends ./layouts/_vodolab-layout

block title 
	title Водолаб

block styles
	link(rel="stylesheet", href="https://vodalab.ru/wp-content/themes/vodalab_new/style.css?ver=1.0.2")
	link(rel="stylesheet", href="./css/vodolab.css")

block content
	include ./components/_vodolab-checkboxes