section.section.s404
	.container.has-text-centered
		h1.h1.s404__title 404 :(
		p.s404__text Такой страницы не существует!
		.s404__links
			a(href="#") Вернуться на главную 
			a(href="#") Заглянуть в наш блог 