section.section.section_with-bg.advantages(style='background-image: url(./img/banner_1.png)')
	.container
		.columns
			.column.is-12-mobile
				.advantage
					.advantage__img
						img(src="./img/calendar.png", alt="")
					p.advantage__text
						| Сроки выполнения работ 
						br
						| от 2 до 5 дней
			.column.is-12-mobile
				.advantage
					.advantage__img
						img(src="./img/quality.png", alt="")
					p.advantage__text
						| Гарантия на выполненные 
						br
						| работы – 10 лет
			.column.is-12-mobile
				.advantage
					.advantage__img
						img(src="./img/notebook.png", alt="")
					p.advantage__text
						| Передача отчета заказчику – 
						br
						| бесплатно
		.columns
			.column.has-text-centered
				a(href="#").advantages__button.button.button_wrapped Заказать бурение скважины