section.section.section_with-bg.banner(style='background-image: url(./img/banner_1.png)')
	.container
		.columns
			.column.is-12-mobile.is-10-tablet.is-7-desktop.is-8-widescreen
				h1.h1.banner__title Бурение скважин на воду «под ключ» в Москве и МО
				p.banner__text Найдем воду без разрушения ландшафта с максимальной производительностью и 
					br.is-hidden-tablet
					| гарантией на 10 лет 
					br.is-hidden-tablet.is-hidden-desktop-only
					| от геологов МГУ.
				a(href="#").button.button_wrapped Рассчитать стоимость бурения