section.section.features
	.container
		.columns.is-centered
			.column.is-12.is-7-desktop.is-10-widescreen
				h2.section__title 
					| У нас бесплатно то, что у других может  
					br.is-hidden-touch.is-hidden-desktop-only
					| оказаться дорогим удовольствием
				.section__hr
		.columns
			.column
				.features__list
					.feature
						.feature__img
							img(src="./img/feature_1.svg", alt="")
						p.feature__text
							| Консультация
							br
							| заказчика
					.feature
						.feature__img
							img(src="./img/feature_2.svg", alt="")
						p.feature__text
							| Геофизические работы по определению глубины залегания подземных вод
					.feature
						.feature__img
							img(src="./img/feature_3.svg", alt="")
						p.feature__text
							| Включен анализ воды стоимостью 27 100 руб. 
							br.is-hidden-desktop
							| по всему комплексу показателей СанПин 2.1.4.1074-01 
					.feature
						.feature__img
							img(src="./img/feature_4.svg", alt="")
						p.feature__text
							| Передача паспорта на скважину и протокола по анализу воды
					.feature
						.feature__img
							img(src="./img/feature_5.svg", alt="")
						p.feature__text
							| Уборка участка 
							br
							| после бурение, 
							br
							| подписание акта сдачи 
							br
							| приемки скважины в эксплуатацию
