section.section.garanties
	.container
		.columns.is-vcentered
			.column.is-12.is-7-desktop.is-paddingless
				h2.section__title Даем гарантии на воду
				.section__hr
				p.section__text Наша задача - обеспечить Ваш участок водой на многие года вперед. Перед началом бурения 
					b мы бесплатно 
					| проводим геофизические работы с помощью радара,что позволяет обнаружить залегание подземных вод еще перед стадией непосредстенного бурения. 
				p.section__text Поскольку мы хотим обеспечить вас водой лучшего качества, мы заранее знаем, где располагаются водоносные слои. Наши гидрогеологи с легкостью отличат грунтовую воду от артезианской, 
					b гарантируя обнаружение 
					| воды в месте бурения.
			.column.is-5-desktop.is-hidden-touch
				img.garanties__img(src="./img/drilling.png", alt="")

