section.section.map
	.container
		.columns.is-centered
			.column.is-12.is-7-desktop.is-10-widescreen
				h2.section__title 
					| Глубина залегания подземных вод в 
					br.is-hidden-touch.is-hidden-desktop-only
					| Московской области
				p.section__text До начала бурения мы изучаем карту залегания подземных вод в Московской области, рассматриваем существующие данные по бурению и гидрогеологическим характеристикам.
				p.section__text Каждый район Подмосковья имеет свои особенности геологических характеристик, именно поэтому стоит подойти к процессу бурения с научной точностью
				.section__hr.section__hr_margin-bottom-50
		.columns
			.column
				#map
					span map