.services
	.services__list
		a(href="#").service
			.service__img
				img(src="./img/tube_small.svg", alt="")
			span.service__text
				| Заказать обустройство 
				br
				| скважины
		a(href="#").service
			.service__img
				img(src="./img/clear.svg", alt="")
			span.service__text
				| Заказать чистку 
				br
				| скважины
		a(href="#").service
			.service__img
				img(src="./img/geology.svg", alt="")
			span.service__text
				| Заказать геофизическое 
				br
				| исследование