section.section.stages
	.container
		h2.section__title Из чего состоят этапы бурения скважины на воду?
		.section__hr.section__hr_margin-bottom-50
		.columns.is-multiline
			.column.is-12-mobile.is-6-tablet.is-4-desktop
				.stage
					.stage__img
						img(src="./img/stage_1.jpg", alt="")
					p.stage__text
						| Определение района, 
						br
						| где будет происходить бурение. 
						br
						| Изучение гидрогеологических процессов в данном районе.
			.column.is-12-mobile.is-6-tablet.is-4-desktop
				.stage
					.stage__img
						img(src="./img/stage_2.jpg", alt="")
					p.stage__text
						| Выезд на участок геофизика и инженера по бурению. 
						| Изучение глубины 
						| залегания подземных вод, написание аналитического отчета для клиента.
			.column.is-12-mobile.is-6-tablet.is-4-desktop
				.stage
					.stage__img
						img(src="./img/stage_3.jpg", alt="")
					p.stage__text
						| Установка 
						| буровой установки, наполнение водовозки. 
						br.is-hidden-desktop
						| Непосредственно этап бурения по аналитическому отчету геофизика.
			.column.is-12-mobile.is-6-tablet.is-4-desktop
				.stage
					.stage__img
						img(src="./img/stage_4.jpg", alt="")
					p.stage__text
						| Обсаживание скважины специальными  трубами, 
						| прокачка скважины.
			.column.is-12-mobile.is-6-tablet.is-4-desktop
				.stage
					.stage__img
						img(src="./img/stage_5.jpg", alt="")
					p.stage__text
						| Получение воды на участке, прокачка 
						br
						| чистой воды и  химический анализ воды.
			.column.is-12-mobile.is-6-tablet.is-4-desktop
				.stage
					.stage__img
						img(src="./img/stage_6.jpg", alt="")
					p.stage__text
						| Сдача заказчику 
						| паспорта на скважину 
						| с отчетом по геофизике участка.