section.section.success
	.container.has-text-centered
		h1.h1.success__title 
			//- span :)
			//- br
			| Заявка успешно отправлена
		p.success__text
			| Мы свяжемся с вами в течении 10 минут,
			br
			| уточним детали и ответим на все вопросы.
		.s404__links
			a(href="#") Вернуться на главную 
			a(href="#") Заглянуть в наш блог 