section.section.section_dark.team
	.container
		h2.section__title Наша команда
		p.section__text Исключительный профессионализм и передовые технологии. Наша команда состоит из людей, имеющих все необходимые компетенции в области бурения и оценки качества подземных вод. 
		p.section__text Для обеспечения лучшего качества услуг в области бурения собрали команду из геофизиков, гидрогеологов, криологов и химиков-аналитиков. Вы можете познакомиться с каждым из них.
		.section__hr.section__hr_margin-top-50.section__hr_margin-bottom-50
		.team__slider
			.team__slides
				.team__slide.employee
					.employee__img
						img(src="./img/employee_1.jpg", alt="")
					h3.h3.employee__name Александр Шестаков
					p.employee__education 
						|МГУ
						br
						| геокриология
					p.employee__text Окончил геологический факультет МГУ по специальности «Геокриопогия». Имеет опыт работы в компании «Газпромнефтесервис». Консультирует наших клиентов по бурению, в частности по бурению зимой и геогриогенных условиях.
				.team__slide.employee
					.employee__img
						img(src="./img/employee_2.jpg", alt="")
					h3.h3.employee__name Тимур Ганиев
					p.employee__education 
						|МГУ
						br
						| геофизика
					p.employee__text Окончил с отличием геологический факультет МГУ по специальности «Геофизика». Имеет опыт работы научным консультантом в области геофизики ряда международных компаний. Автор статей в области гидродинамического моделирования.
				.team__slide.employee
					.employee__img
						img(src="./img/employee_3.jpg", alt="")
					h3.h3.employee__name Евгения Борковская
					p.employee__education 
						| МГУ, РАН
						br
						| аналитическая химия
					p.employee__text Окончила химический факультет МГУ по специальности «аналитическая химия». Научный сотрудник института Зелинского Российской академии наук, занимается оценкой качества подземных вод и разработкой новых методик в области анализа воды.